* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font: 62.5%;
    font-family: 'Barlow', sans-serif;
}

.home-main {
    background: $primary;
    height: 108rem;
    margin-top: -10rem;
}