// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.
$primary: #bfe9e7;
$color-blue: #4275af;
$color-dark-blue: #89bbe0;
$color-yellow: #ffd876;
$color-green: #88e2a6;
$color-grey: #3b4546;
$color-white: #ffffff;
$color-black: #000000;
$color-green-light: #ebf8f7;
$color-blue-light-2: #e3f1f0;