.btn {
    font-size: 1.8rem;
    color: $color-grey;
    border: 3.2px solid $color-grey;
    background: $color-green-light;
    padding: .8rem;
    box-shadow: 4px 4px 0px $color-yellow;
    transition: all .3s ease-out;
    &:hover {
        border: 3.2px solid $color-green-light;
        box-shadow: none;
    }
}

.learn-btn {
    color: $color-grey;
    font-size: 1.8rem;
    font-weight: 400;
    border: 4px solid $color-grey;
    padding: .4rem 2.4rem;
    text-align: right;
}

.yellow-btn {
    color: $color-grey;
    background: $color-yellow;
}