.header-2 {
    font-size: 3.2rem;
    color: $color-grey;
    font-weight: 700;
    text-transform: uppercase;
}

.header-3-yellow {
    color: $color-yellow;
    font-size: 3.2rem;
    font-weight: 700;
    text-transform: uppercase;
}